In [2]:
#original poulation_gender.csv파일을 population_gender_202510.csv파일로 변경하는 코드
#쓸모없는 열 날리고 정리함

import pandas as pd
df=pd.read_csv("./original/gender_population.csv",encoding="cp949")
df=df.drop(['2025년10월_계_연령구간인구수','2025년10월_남_총인구수','2025년10월_여_총인구수'],axis=1)
df
df.rename(columns={"행정구역":"area",
                   '2025년10월_계_총인구수':'total',
                   "2025년10월_계_0~9세": "10세미만", "2025년10월_계_10~19세": "10대","2025년10월_계_20~29세": "20대","2025년10월_계_30~39세": "30대","2025년10월_계_40~49세": "40대","2025년10월_계_50~59세": "50대","2025년10월_계_60~69세": "60대","2025년10월_계_70~79세": "70대","2025년10월_계_80~89세": "80대","2025년10월_계_90~99세": "90대","2025년10월_계_100세 이상": "100세이상",

                   '2025년10월_남_연령구간인구수':'total',
                   "2025년10월_남_0~9세": "10세미만", "2025년10월_남_10~19세": "10대","2025년10월_남_20~29세": "20대","2025년10월_남_30~39세": "30대","2025년10월_남_40~49세": "40대","2025년10월_남_50~59세": "50대","2025년10월_남_60~69세": "60대","2025년10월_남_70~79세": "70대","2025년10월_남_80~89세": "80대","2025년10월_남_90~99세": "90대","2025년10월_남_100세 이상": "100세이상",
                   
                   '2025년10월_여_연령구간인구수':'total',
                   "2025년10월_여_0~9세": "10세미만", "2025년10월_여_10~19세": "10대","2025년10월_여_20~29세": "20대","2025년10월_여_30~39세": "30대","2025년10월_여_40~49세": "40대","2025년10월_여_50~59세": "50대","2025년10월_여_60~69세": "60대","2025년10월_여_70~79세": "70대","2025년10월_여_80~89세": "80대","2025년10월_여_90~99세": "90대","2025년10월_여_100세 이상": "100세이상",}, inplace=True)
df["area"] = df["area"].str.replace(r"\s*\(.*\)", "", regex=True)

df["area"] = df["area"].replace({
    "서울특별시": "서울",
    "부산광역시": "부산",
    "대구광역시": "대구",
    "인천광역시": "인천",
    "광주광역시": "광주",
    "대전광역시": "대전",
    "울산광역시": "울산",
    "세종특별자치시": "세종",
    "경기도": "경기",
    "강원특별자치도": "강원",
    "충청북도": "충북",
    "충청남도": "충남",
    "전북특별자치도": "전북",
    "전라남도": "전남",
    "경상북도": "경북",
    "경상남도": "경남",
    "제주특별자치도": "제주",
    "전국": "한국"
})

# 전체, 남성, 여성 데이터 분리
df_gender = df.iloc[:, 0:13].copy()
df_men    = df.iloc[:, [0] + list(range(13, 25))].copy()
df_women  = df.iloc[:, [0] + list(range(25, 37))].copy()

# gender 열을 2번째 열로 삽입
df_gender.insert(1, "gender", "전체")
df_men.insert(1, "gender", "남성")
df_women.insert(1, "gender", "여성")

# 열 이름 통일: 지역 + gender + 연령대
age_columns = df.columns[1:13].tolist()
new_columns = ["area", "gender"] + age_columns

df_gender.columns = new_columns
df_men.columns    = new_columns
df_women.columns  = new_columns

# 세 데이터프레임 합치기
df_combined = pd.concat([df_gender, df_men, df_women], ignore_index=True)

# CSV 저장
df_combined.to_csv("./csv/gender_population_202510.csv", index=False, encoding="cp949")
df_combined

#남자만 필터
# df_male_only = df_combined[df_combined["gender"] == "남성"]
# df_male_only

,area,gender,total,10세미만,10대,20대,30대,40대,50대,60대,70대,80대,90대,100세이상
0,한국,전체,"51,143,421","2,983,034","4,630,321","5,733,763","6,665,096","7,604,404","8,656,084","7,891,862","4,466,978","2,143,553","359,418","8,908"
1,서울,전체,"9,313,532","463,761","719,729","1,267,624","1,459,332","1,368,348","1,473,113","1,318,327","819,214","368,261","54,345","1,478"
2,부산,전체,"3,246,304","171,569","264,352","342,508","388,377","462,025","531,090","553,215","359,552","152,558","20,620",438
3,대구,전체,"2,355,677","135,424","212,954","256,180","284,958","337,270","413,599","378,490","219,375","101,794","15,345",288
4,인천,전체,"3,049,315","190,227","275,708","340,606","430,248","474,597","516,389","471,030","230,567","101,612","17,784",547
5,광주,전체,"1,395,869","87,047","144,260","172,880","173,822","214,114","241,723","193,265","108,933","51,416","8,218",191
6,대전,전체,"1,442,046","87,324","135,917","189,274","194,321","210,031","242,883","208,249","113,663","51,539","8,621",224
7,울산,전체,"1,092,797","68,174","109,609","111,956","136,652","169,576","199,333","178,534","84,406","30,057","4,403",97
8,세종,전체,"392,406","39,079","53,971","36,696","58,153","76,645","58,859","39,414","19,357","8,405","1,783",44
9,경기,전체,"13,724,652","896,109","1,327,267","1,570,369","1,920,159","2,187,644","2,358,528","1,955,281","974,855","455,022","77,348","2,070"
10,강원,전체,"1,509,064","81,375","125,582","148,990","158,338","195,749","258,272","279,377","158,166","88,160","14,615",440
11,충북,전체,"1,592,916","93,662","143,084","167,535","192,099","222,054","271,668","267,758","144,874","76,303","13,562",317
12,충남,전체,"2,136,678","127,545","202,717","213,786","252,123","314,645","352,056","339,630","200,868","110,219","22,605",484
13,전북,전체,"1,726,914","88,976","159,801","173,949","172,886","228,144","299,176","290,258","189,498","103,762","20,009",455
14,전남,전체,"1,779,263","96,402","155,674","160,543","170,000","227,947","304,337","315,450","203,106","123,095","22,166",543
15,경북,전체,"2,510,859","130,436","215,214","223,398","253,405","334,626","435,459","460,227","281,801","148,620","27,092",581
16,경남,전체,"3,209,853","181,195","314,353","291,186","343,234","478,234","580,334","545,328","305,694","144,821","24,969",505
17,제주,전체,"665,276","44,729","70,129","66,283","76,989","102,755","119,265","98,029","53,049","27,909","5,933",206
18,한국,남성,"25,451,723","1,528,758","2,377,553","2,978,234","3,484,994","3,869,766","4,366,075","3,893,173","2,062,940","802,490","86,238","1,502"
19,서울,남성,"4,489,067","237,978","367,477","593,335","729,571","675,956","724,718","625,088","368,990","150,343","15,292",319
20,부산,남성,"1,578,085","87,901","135,387","174,571","200,727","233,721","260,721","259,615","161,684","58,804","4,902",52
21,대구,남성,"1,154,160","69,555","109,304","134,226","152,038","168,031","201,803","180,900","97,220","37,271","3,767",45
22,인천,남성,"1,523,210","97,572","141,237","175,746","224,696","244,615","257,983","232,251","107,308","37,706","3,998",98
23,광주,남성,"688,690","44,353","74,345","90,252","90,362","106,919","119,772","92,731","48,350","19,617","1,966",23
24,대전,남성,"718,579","44,944","69,786","98,771","103,436","105,187","121,200","101,078","52,303","19,685","2,152",37
25,울산,남성,"563,285","34,930","56,919","64,715","75,436","88,023","99,891","90,354","40,760","11,298",950,9
26,세종,남성,"195,359","19,874","27,320","18,675","28,800","37,548","30,688","19,620","9,273","3,161",395,5
27,경기,남성,"6,893,167","458,782","678,558","821,527","1,006,220","1,116,730","1,186,248","976,051","454,351","174,661","19,623",416
28,강원,남성,"758,837","41,597","64,835","83,473","85,148","99,759","133,084","140,113","74,546","32,880","3,302",100
29,충북,남성,"811,762","48,215","73,681","92,567","106,328","115,712","139,620","136,053","68,755","27,693","3,087",51
30,충남,남성,"1,096,883","65,379","104,685","118,215","138,447","167,763","186,926","173,958","95,813","40,119","5,501",77
31,전북,남성,"860,355","45,394","82,520","94,539","90,787","116,486","155,203","146,015","88,069","36,680","4,609",53
32,전남,남성,"898,708","49,253","79,970","89,773","90,318","120,446","163,895","163,441","95,531","41,412","4,594",75
33,경북,남성,"1,270,741","67,005","112,553","127,968","139,584","174,787","225,933","233,269","132,446","51,215","5,911",70
34,경남,남성,"1,618,503","93,173","162,896","164,491","183,951","246,260","296,748","273,345","143,045","49,572","4,963",59
35,제주,남성,"332,332","22,853","36,080","35,390","39,145","51,823","61,642","49,291","24,496","10,373","1,226",13
36,한국,여성,"25,691,698","1,454,276","2,252,768","2,755,529","3,180,102","3,734,638","4,290,009","3,998,689","2,404,038","1,341,063","273,180","7,406"
37,서울,여성,"4,824,465","225,783","352,252","674,289","729,761","692,392","748,395","693,239","450,224","217,918","39,053","1,159"
38,부산,여성,"1,668,219","83,668","128,965","167,937","187,650","228,304","270,369","293,600","197,868","93,754","15,718",386
39,대구,여성,"1,201,517","65,869","103,650","121,954","132,920","169,239","211,796","197,590","122,155","64,523","11,578",243
40,인천,여성,"1,526,105","92,655","134,471","164,860","205,552","229,982","258,406","238,779","123,259","63,906","13,786",449
41,광주,여성,"707,179","42,694","69,915","82,628","83,460","107,195","121,951","100,534","60,583","31,799","6,252",168
42,대전,여성,"723,467","42,380","66,131","90,503","90,885","104,844","121,683","107,171","61,360","31,854","6,469",187
43,울산,여성,"529,512","33,244","52,690","47,241","61,216","81,553","99,442","88,180","43,646","18,759","3,453",88
44,세종,여성,"197,047","19,205","26,651","18,021","29,353","39,097","28,171","19,794","10,084","5,244","1,388",39
45,경기,여성,"6,831,485","437,327","648,709","748,842","913,939","1,070,914","1,172,280","979,230","520,504","280,361","57,725","1,654"
46,강원,여성,"750,227","39,778","60,747","65,517","73,190","95,990","125,188","139,264","83,620","55,280","11,313",340
47,충북,여성,"781,154","45,447","69,403","74,968","85,771","106,342","132,048","131,705","76,119","48,610","10,475",266
48,충남,여성,"1,039,795","62,166","98,032","95,571","113,676","146,882","165,130","165,672","105,055","70,100","17,104",407
49,전북,여성,"866,559","43,582","77,281","79,410","82,099","111,658","143,973","144,243","101,429","67,082","15,400",402
50,전남,여성,"880,555","47,149","75,704","70,770","79,682","107,501","140,442","152,009","107,575","81,683","17,572",468
51,경북,여성,"1,240,118","63,431","102,661","95,430","113,821","159,839","209,526","226,958","149,355","97,405","21,181",511
52,경남,여성,"1,591,350","88,022","151,457","126,695","159,283","231,974","283,586","271,983","162,649","95,249","20,006",446
53,제주,여성,"332,944","21,876","34,049","30,893","37,844","50,932","57,623","48,738","28,553","17,536","4,707",193

In [1]:
#economical_gender_age 전처리

import pandas as pd
df=pd.read_csv("./original/economical_gender_age.csv",encoding="cp949",header=None)

df = df.iloc[1:].reset_index(drop=True)
#0번째행을 열 이름으로 지정
df.columns = df.iloc[0]

df = df.iloc[1:].reset_index(drop=True)
df["성별"]=df["성별"].replace("계", "전체")
df

,성별,연령계층별,15세이상인구 (천명),경제활동인구 (천명),취업자 (천명),실업자 (천명),비경제활동인구 (천명),경제활동참가율 (%),실업률 (%),고용률 (%)
0,전체,계,45797,29788,29154,635,16009,65.0,2.1,63.7
1,전체,15 - 29세,7906,3743,3564,179,4163,47.3,4.8,45.1
2,전체,15 - 19세,2245,132,129,3,2113,5.9,2.0,5.8
3,전체,20 - 29세,5661,3611,3435,176,2050,63.8,4.9,60.7
4,전체,30 - 39세,6887,5756,5606,150,1131,83.6,2.6,81.4
5,전체,40 - 49세,7644,6254,6145,109,1389,81.8,1.7,80.4
6,전체,50 - 59세,8609,6817,6709,108,1792,79.2,1.6,77.9
7,전체,60세이상,14752,7218,7129,89,7534,48.9,1.2,48.3
8,전체,15 - 64세,35165,25346,24750,597,9818,72.1,2.4,70.4
9,전체,15 - 24세,4547,1209,1155,54,3338,26.6,4.5,25.4
10,남자,계,22590,16467,16068,400,6123,72.9,2.4,71.1
11,남자,15 - 29세,3955,1789,1680,109,2166,45.2,6.1,42.5
12,남자,15 - 19세,1136,58,56,2,1078,5.1,3.5,4.9
13,남자,20 - 29세,2819,1731,1624,107,1087,61.4,6.2,57.6
14,남자,30 - 39세,3644,3292,3194,98,352,90.3,3.0,87.7
15,남자,40 - 49세,3905,3615,3556,59,290,92.6,1.6,91.1
16,남자,50 - 59세,4320,3843,3776,67,477,89.0,1.7,87.4
17,남자,60세이상,6767,3929,3862,67,2839,58.1,1.7,57.1
18,남자,15 - 64세,17867,14096,13722,375,3771,78.9,2.7,76.8
19,남자,15 - 24세,2201,500,471,29,1701,22.7,5.7,21.4
20,여자,계,23207,13321,13086,235,9886,57.4,1.8,56.4
21,여자,15 - 29세,3951,1954,1884,70,1997,49.5,3.6,47.7
22,여자,15 - 19세,1109,74,74,1,1035,6.7,0.9,6.6
23,여자,20 - 29세,2842,1880,1811,69,962,66.1,3.7,63.7
24,여자,30 - 39세,3243,2464,2411,52,780,76.0,2.1,74.4
25,여자,40 - 49세,3739,2639,2589,51,1100,70.6,1.9,69.2
26,여자,50 - 59세,4290,2974,2933,41,1315,69.3,1.4,68.4
27,여자,60세이상,7984,3289,3268,22,4695,41.2,0.7,40.9
28,여자,15 - 64세,17298,11250,11028,222,6048,65.0,2.0,63.8
29,여자,15 - 24세,2347,709,684,26,1638,30.2,3.6,29.1